@font-face {
  font-family: OSAttempt;
  src: url(./OSAttemptBetav3-Regular.otf);
  font-weight: 300;
}

@font-face {
  font-family: OSAttempt;
  src: url(./OSAttemptBetav3-Bold.otf);
  font-weight: 500;
}

@font-face {
  font-family: OSAttempt;
  src: url(./OSAttemptBetav3-Italic.otf);
  font-weight: 300;
  font-style: italic;
}

*{
  box-sizing: border-box;
}

body{
  padding: 0;
  margin: 0;
  font-family: OSAttempt, sans-serif;
  background-color: #6C2537;
}

a{
  color: inherit;
  text-decoration: none;
}

p a{
  text-decoration: underline;
}

.menu{
  position: fixed;
  width: 85%;
  max-width: 1100px;
  color: #C4CED5;
  display: flex;
  font-size: 36px;
  padding: 14px 0;
  text-transform: lowercase;
  z-index: 9;
  top: 0;
  left: 2vw;
  background-color: #6C2537;
  font-weight: 300;
  justify-content: space-between;
  a:hover{
    color: #FF5012;
  }
}

.active-language, .active-menu-item {
  color: #FF5012;
}

.home .menu{
  background-color: transparent
}

.language-switcher {
  font-size: 18px;
  position: fixed;
  right: 20px;
  top: 20px;
  a{
    font-size: 18px;
  }
}

.opencall-ani{
  height: 100vh;
  width: 100vw;
  top: 0;
  position: absolute;
  .logo-hero{
    height: 80svh;
    margin-top: 10svh;
    svg{
      height: 100%;
      fill:  #6C2537;
      polygon, path{
        stroke-width: 2px;
        stroke: #6C2537;
      }
    }
  }
}

.ani-gen{
  height: 100vh;
  width: 100vw;
  top: 0;
  position: absolute;
  .logo-hero{
    height: 80svh;
    margin-top: 10svh;
    .uploaded-svg{
      height: 70svh;
    }
    svg{
      height: 100%;
      fill: inherit;
      polygon, path{
        stroke-width: 2px;
        stroke: inherit;
      }
    }
  }
  .controls{
    display: flex;
    flex-direction: column;
    position: fixed;
    right: 0;
    top: 0;
    width: 164px;
    background-color: #C4CED5;
    padding: 14px;
    label, .mt-3{
      display: flex;
      flex-direction: column;
      margin: 5px 0;
    }
    span{
      font-size: 14px;
      padding-bottom: 5px;
    }
  }
  .show-hide{
    position: fixed;
    right: 1%;
    bottom: 1%;
  }
}

.pitch-ani{
  height: 100vh;
  width: 100vw;
  top: 0;
  position: absolute;
  .logo-hero{
    height: 80svh;
    margin-top: 10svh;
    svg{
      height: 100%;
      fill:  #FF5012;
      polygon, path{
        stroke-width: 2px;
        stroke: #FF5012;
      }
    }
    &#version2{
      svg{
        fill:  #C4CED5;
        polygon, path{
          stroke: #C4CED5;
        }
      }
    }
    &#version3{
      svg{
        fill:  #FF5012;
        polygon, path{
          stroke: #FF5012;
        }
      }
    }
    &#version4{
      svg{
        fill:  #6C2537;
        polygon, path{
          stroke: #6C2537;
        }
      }
    }
  }
}

.logo-hero{
  height: 100svh;
  display: flex;
  justify-content: start;
  align-items: center;
  svg{
    overflow: visible;
    width: 90%;
    max-width: 800px;
    fill: #C4CED5;
    polygon, path{
      stroke-width: 2px;
      stroke: #C4CED5;
    }
  }
}

.hero{
  margin-left: 0;
}

.page .logo-hero {
  height: auto;
  margin-top: 100px;
  max-width: 900px;
  svg{
    max-width: 100%;
    fill: #C4CED5;
    polygon, path{
      stroke-width: 2px;
      stroke: #C4CED5;
    }
  }
}


.hero video{
  height: 100svh;
  width: 100vw;
  object-fit: cover;
}

.print{
  position: fixed;
  bottom: 24px;
  right: 24px;
  background-color: black;
  padding: 5px 20px;
  color: white;
  font-family: helvetica;
}

.textWrapper{
  max-width: 1100px;
  padding: 2vw 2vw 2vw 2vw;
  color: #FF5012;
  font-size: 30px;
  font-weight: 300;
  line-height: 1.3;
  display: flex;
  justify-content: space-between;
  div{
    width: 100%;
  }
  &.small{
    color: #C4CED5;
    font-size: 18px;
  }
}

@page {
  size: A4 landscape;
}

@media print{
  .print{
    display: none;
  }
}

.buttons{
  display: flex;
  flex-wrap: wrap;
  padding: 0 2vw;
  padding-bottom: 48px;
  a{
    margin-bottom: 24px;
    padding: 10px 24px;
    background-color: #FF5012;
    color: #6C2537;
    font-size: 24px;
    margin-right: 48px;
    font-weight: 500;
    font-size: 30px;
  }
}

.bg-vid{
  position: fixed;
  z-index: -1;
  object-fit: cover;
  video{
    width: 100vw;
    height: 100vh;
    object-fit: cover;
  }
}

svg *{
  // transition: all 0.4s ease;
}

@media only screen and (max-width: 600px) {
  .textWrapper{
    max-width: 100%;
    font-size: 30px;
    padding: 4vw;
    font-size: 24px;
    flex-direction: column;
    &.small{
      font-size: 18px;
      column-count: 1;
    }
  }
  .buttons{
    a{
      font-size: 24px;
    }
  }
  .menu{
    font-size: 18px;
    top: 0;
    justify-content: space-between;
    padding: 14px 14px 40px 14px;
  }
  .language-switcher{
    top: 44px;
  }
  .hero video{
    object-fit: cover;
    height: 38svh;
  }
  .home{
    height: auto;
    overflow-y: auto;
  }
  section{
    margin-left: 0;
  }
  
}