@font-face {
  font-family: OSAttempt;
  src: url(./OSAttemptBetav3-Regular.otf);
  font-weight: 300;
}

@font-face {
  font-family: OSAttempt;
  src: url(./OSAttemptBetav3-Bold.otf);
  font-weight: 500;
}

@font-face {
  font-family: OSAttempt;
  src: url(./OSAttemptBetav3-Italic.otf);
  font-weight: 300;
  font-style: italic;
}

*{
  box-sizing: border-box;
}

body{
  padding: 0;
  margin: 0;
  font-family: OSAttempt, sans-serif;
  background-color: #6C2537;
}

a{
  color: inherit;
  text-decoration: none;
}

p a{
  text-decoration: underline;
}

.menu{
  position: fixed;
  width: 100%;
  color: #C4CED5;
  display: flex;
  justify-content: space-evenly;
  font-size: 36px;
  padding: 14px 0;
  text-transform: lowercase;
  z-index: 9;
  top: 0;
  left: 0;
  background-color: #6C2537;
  font-weight: 300;
  a:hover{
    color: #FF5012;
  }
}

.active-language, .active-menu-item {
  color: #FF5012;
}

.home .menu{
  background-color: transparent
}

.language-switcher {
  font-size: 18px;
  position: fixed;
  right: 20px;
  top: 20px;
  a{
    font-size: 18px;
  }
}

.logo-hero{
  height: 100svh;
  display: flex;
  justify-content: center;
  align-items: center;
  svg{
    overflow: visible;
    width: 90%;
    max-width: 800px;
  }
}

.hero{
  margin-left: 0;
}

section{
  margin-left: 2.5vw;
}

.page .logo-hero {
  height: auto;
  margin-top: 100px;
  svg{
    max-width: 100%;
    fill: #C4CED5;
    polygon, path{
      stroke-width: 2px;
      stroke: #C4CED5;
    }
  }
}

.home{
  height: 100svh;
  overflow: hidden;
}

.hero video{
  height: 100svh;
  width: 100vw;
  object-fit: cover;
}

.print{
  position: fixed;
  bottom: 24px;
  right: 24px;
  background-color: black;
  padding: 5px 20px;
  color: white;
  font-family: helvetica;
}

.textWrapper{
  max-width: 1100px;
  padding: 2vw 2vw 2vw 2vw;
  color: #FF5012;
  font-size: 30px;
  font-weight: 300;
  line-height: 1.3;
  display: flex;
  justify-content: space-between;
  div{
    width: 100%;
  }
  &.small{
    color: #C4CED5;
    font-size: 18px;
  }
}

@page {
  size: A4 landscape;
}

@media print{
  .print{
    display: none;
  }
}


@media only screen and (max-width: 600px) {
  .textWrapper{
    max-width: 100%;
    font-size: 30px;
    padding: 4vw;
    font-size: 24px;
    flex-direction: column;
    &.small{
      font-size: 18px;
      column-count: 1;
    }
  }
  .menu{
    font-size: 18px;
    top: 0;
    justify-content: space-between;
    padding: 14px 14px 40px 14px;
  }
  .language-switcher{
    top: 44px;
  }
  .hero video{
    object-fit: cover;
    height: 38svh;
  }
  .home{
    height: auto;
    overflow-y: auto;
  }
  section{
    margin-left: 0;
  }
  
}